#AI ASSIGNMENT 
###TASK : To apply Logistic Regression to IRIS Dataset 

> NAME: PALAK NATH


> PRN : 17070124048

In [17]:
import pandas as pd
import numpy as np

In [18]:
 df=pd.read_csv('iris.csv')

In [19]:
df.head()

   ID  Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0   1           5.1          3.5           1.4          0.2  setosa
1   2           4.9          3.0           1.4          0.2  setosa
2   3           4.7          3.2           1.3          0.2  setosa
3   4           4.6          3.1           1.5          0.2  setosa
4   5           5.0          3.6           1.4          0.2  setosa

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID            150 non-null    int64
 1   Sepal.Length  150 non-null    float64
 2   Sepal.Width   150 non-null    float64
 3   Petal.Length  150 non-null    float64
 4   Petal.Width   150 non-null    float64
 5   Species       150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

Feature Extraction
> Extracting 4 features and storing it in the feature array


> Features that are included are sepal length, sepal width, petal length and

In [21]:
features = df.iloc [:, [1,2,3,4]]

In [22]:
features

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [23]:
labels= df.iloc[:,-1]

In [24]:
labels

0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
         ...
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: Species, Length: 150, dtype: object

Applying TRAIN TEST SPLIT function to split teh data into training and testing set.


> Train Test Split function splits the dataset into 4 different arrays (xtrain,ytrain,xtest and ytest)

In [25]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest= train_test_split (features,labels,test_size=0.2, random_state=23)

In [26]:
from sklearn.neighbors import KNeighborsClassifier
model = KNeighborsClassifier()
model.fit(xtrain,ytrain)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [27]:
pred = model.predict(xtest)

In [28]:
pred

array(['virginica', 'virginica', 'versicolor', 'setosa', 'virginica',
       'versicolor', 'setosa', 'virginica', 'setosa', 'versicolor',
       'versicolor', 'setosa', 'virginica', 'setosa', 'setosa',
       'virginica', 'versicolor', 'versicolor', 'virginica', 'setosa',
       'virginica', 'setosa', 'setosa', 'setosa', 'virginica', 'setosa',
       'setosa', 'virginica', 'versicolor', 'versicolor'], dtype=object)

In [29]:
model.score(xtrain,ytrain)

0.9583333333333334

In [30]:
model.score(xtest,ytest)

1.0

###END OF ASSIGNMENT